<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%-include('./partials/head.ejs', {titulo:'Iniciar Sesión - The Fantasy'})%>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<div class="col-11">
					<% if (locals.errores) {%> 
						<%= errores.message  %>  
					<% } %> 
			</div>
			</div>
			<section class="form-register">
				<form action="/users/login" method="POST">
					<input class="form-input" type="text"  name="email" placeholder="Email">
					<input class="form-input" type="password"  name="contrasena" placeholder="Contraseña">
	                <div>
						<input class="checkbox" type="checkbox"  name="recordarme" /> 
						<label class="recordar" for="check-recordarme"> Recordarme </label>
					</div> 
					
						<button  type="submit">Ingresar</button>
				  </form>
			</section>

			
			<!-- footer -->
			<%-include('./partials/footer.ejs')%>
			<!-- /footer -->
</body>

</html>