<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Producto - The Fantasy'})%>

<body>
	<!-- Header -->
	<%-include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= idProduct %> </h2>
			<p class="product-detail-description">
				<a href="/product/product-add">Agregar producto</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<% for ( let i = 0 ; i < productos.length; i++) { %>
						<% if (productos[i].nombre == idProduct) { %>
						 <%= productos[i].image %> 	
						 <% } %>
						 <% } %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<% for ( let i = 0 ; i < productos.length; i++) { %>
						<% if (productos[i].nombre == idProduct) { %>
						<%= productos[i].descripcion %>
						<% } %>
						<% } %>
					</p>
				</article>
				<div class="col-12 col-lg-4">

					<section class="comments">
						<% for ( let i = 0 ; i < comentarios.length; i++) { %>
						<article>
							<img src="<%= comentarios[i].image %> " alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"> <%=comentarios[i].nombre%> </a> </strong>
									<%=comentarios[i].opinion%>
								</p>
							</div>
						</article>

						<% } %>
					</section>

					<form class="form" action="" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<a href="/users/register" type="submit" class="buy-now-button">AGREGAR COMENTARIO</a>
					</form>

					<!-- PARA LA SEGUNDA PARTE 
						<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>-->
					<hr>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>

</html>