<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Producto - The Fantasy'})%>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= productos.nombre %> </h2>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= productos.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos.descripcion %>
					</p>
					<h1 class="nombre"><a href="/users/profile/<%= productos.usuario.id %> ">Subido por <%= productos.usuario.nombreUsuario %> </h1> </a>
					<p> </p>

					<% if (locals.user) { %> 
						<% if (locals.user.id == productos.usuario.id) { %> 
						<form action="/product/delete/<%= productos.id %> " method="post">
						<button class="borrar" type="submit"> Borrar producto </button>
						</form> 
						<% } %>
					<% } %> 


				</article>

		<section class="comments">
			<h2 class="comentarios"> COMENTARIOS </h2>
			<% for ( let i = 0 ; i < comentarios.length; i++) { %>
			<article>
				<img src="/images/fotosPerfil/<%=comentarios[i].usuario.imagen %> " alt="">
				<div class="data">
					<p class="user">
						<strong> <a href="/users/profile/<%= comentarios[i].usuario.id %> "> <%=comentarios[i].usuario.nombreUsuario%> </a> </strong>
						<%=comentarios[i].comentario%>
					</p>
				</div>
			</article>
			<% } %>
		</section> 

	
	 
				<div class="col-12 col-lg-4">
					<form class="form" action="/product/comentario/<%= productos.id %> " method="post">
						<input class="form-input1" name="comentario" type="text" value="" placeholder="Agregar comentario">
						<button class="buy-now-button" type="submit"> AGREGAR COMENTARIO </button>
					</form>

					<!-- PARA LA SEGUNDA PARTE 
						<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>-->
					<hr>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>

</html>