<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Producto - The Fantasy'})%>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= productos.nombre %> </h2>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= productos.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos.descripcion %>
					</p>
					<h1 class="nombre"><a href="/users/profile/<%= productos.usuario.id %> ">Subido por <%= productos.usuario.nombreUsuario %> </h1> </a>
					<p> </p>
				</article>
	     	<!-- if (userId = cookieId) {
			
	     	} 
	        	-->
		<button class="buy-now-button" type="submit"> Borrar </button> 
				<div class="col-12 col-lg-4">

					<!-- <section class="comments">
						<% //for ( let i = 0 ; i < comentarios.length; i++) { %>
						<article>
							<img src="<%=//comentarios[i].image %> " alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"> <%=//comentarios[i].nombre%> </a> </strong>
									<%=//comentarios[i].opinion%>
								</p>
							</div>
						</article>
						<% //} %>
					</section> --> 

					<form class="form" action="" method="get">
						<input class="form-input1" type="text" value="" placeholder="Agregar comentario">
						<a href="/users/register" type="submit" class="buy-now-button">AGREGAR COMENTARIO</a>
					</form>

					<!-- PARA LA SEGUNDA PARTE 
						<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>-->
					<hr>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->

</body>

</html>