<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Perfil - The Fantasy'})%>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/fotosPerfil/<%=usuarios.dataValues.imagen%>" alt="foto de perfil" class="foto-perfil"> 
		<!-- NO ANDA LA FOTO -->
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=usuarios.dataValues.nombreUsuario%></h1>
					<% if (locals.user) {%>
					 <% if(locals.user.nombreUsuario == usuarios.dataValues.nombreUsuario){ %> 
						<a href="/users/profile-edit"> Editar perfil <i class="fas fa-cog"></i></a>
						<% } else { %> 
							<a href="/users/profile"></a>
							<form  action="/users/seguir/<%= usuarios.dataValues.id %> " method="post">
							<button class="btn mt-3 ml-4" type="submit" name="seguir">Seguir</button>
						<% }  %>
					<% } else { %> 
						<a href="/users/profile"></a>
					<% }  %>
				
					</form>
				</div>
				<div>
					<ul class="">
						<h4><%=usuarios.dataValues.email%></h4>
						<% if(productos.length > 0){ %> 
							<li>Productos: <%= productos.length %> </li>
						<% for ( let i=0 ; i < productos.length; i++) { %>
						<li><a href="/product/<%=productos[i].dataValues.nombre%>"><%=productos[i].dataValues.nombre%></a></li> <!-- NO ANDA LA ASOCIACION -->
						<% } %> 
						<% } else { %> 
						<li>Producto: No publicó productos aún</li>
						<% } %> 
						<li>Seguidores: <%= seguidores.length %> </li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->
	
			<!-- footer -->
			<%-include('./partials/footer.ejs')%>
			<!-- /footer -->
</body>

</html>