<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Perfil - The Fantasy'})%>

<body>
	<!-- Header -->
	<%-include('./partials/headerLogueado.ejs', {usuario: usuario.nombreUsuario})%>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%=usuario.image%>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=usuario.nombreUsuario%>
						<a href="/users/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<h4><%=usuario.email%></h4>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/lenguetazo.png" alt="lenguetazo">
						</figure>
						<article class="product-box_data">
							<h2>Lenguetazos</h2>
							<p>Caramelos lenguetazos en tres sabores: pinta lenguas, tutifruti y fiesta.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/beldent menta.webp" alt="beldent menta">
						</figure>
						<article class="product-box_data">
							<h2>Chicle Beldent</h2>
							<p>Chicles Beldent sabor menta. 8 unidades, frecura garantizada.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/sugus-confitados-1.jpeg" alt="sugus confitados">
						</figure>
						<article class="product-box_data">
							<h2>Sugus confitados</h2>
							<p>Sugus confitados sabdor frutilla, moras y limon</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/alfajor milka.webp" alt="alfajor milka">
						</figure>
						<article class="product-box_data">
							<h2>Alfajor Milka Oreo</h2>
							<p>Alfajor torta sabor Oreo y con el mejor chocolate Milka, delicioso.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/chocolate arcor.jpeg" alt="chocolate arcor">
						</figure>
						<article class="product-box_data">
							<h2>Cholate Arcor</h2>
							<p>Chocolate con leche y mani, apto para celiacos</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/block chocolate.jpeg" alt="block chocolate">
						</figure>
						<article class="product-box_data">
							<h2>Chcolate Block</h2>
							<p>Chocolate con leche y mani marca Cofler. 38 g la unidad, irresistible.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/mogul.jpeg" alt="mogul cerebritos">
						</figure>
						<article class="product-box_data">
							<h2>Cerebritos Mogul</h2>
							<p>Gomitas rellenas en forma de cerebrito marcra Mogul. Sabores limon, fresa, banana y
								manzana.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/products/arcor rellenos.jpeg" alt="arcor rellenos">
						</figure>
						<article class="product-box_data">
							<h2>Caramelos rellenos</h2>
							<p>Caramelos rellenos frutales Arcor. Sabor cereza, banana, manzana, durazno y anana.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>