<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Perfil - The Fantasy'})%>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/../public/images/fotosPerfil/<%=locals.user.imagen%>" alt="foto de perfil" class="foto-perfil"> 
		<!-- NO ANDA LA FOTO -->
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=locals.user.nombreUsuario%></h1>
					<% if (locals.user.nombreUsuario == nombreUser){ %> 
						<a href="/users/profile-edit"><i class="fas fa-cog"></i></a>
						<% } else { %> 
							<a href="/users/profile"></a>
						<% }  %>
					<a class="btn mt-3 ml-4" href="">Seguir</a>
				</div>
				<div>
					<ul class="">
						<h4><%=locals.user.email%></h4>
						<% if(productos.length > 0){ %> 
						<% for ( let i=0 ; i < productos.length; i++) { %>
						<li>Producto: <a href="/product/<%=productos[i].dataValues.nombre%>"><%=productos[i].dataValues.nombre%></a></li> <!-- NO ANDA LA ASOCIACION -->
						<% } %> 
						<% } else { %> 
						<li>Producto: No publicó productos aún</li>
						<% } %> 
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->
	
			<!-- footer -->
			<%-include('./partials/footer.ejs')%>
			<!-- /footer -->
</body>

</html>