<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%-include('./partials/head.ejs', {titulo:'Resultado de busqueda - The Fantasy'})%> 

<body>
	<!-- Header -->
	<%-include('./partials/header.ejs')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="search-title"> <%= productos[1].nombre %>  </h2>
					<img src="<%= productos[1].image%>" alt="" class="search-image">
					<p class="search-descrip">	<%= productos[1].descripcion %> 	
				</div>
						
							

	<!-- footer -->
	<%-include('./partials/footer.ejs')%>
	<!-- /footer -->
</body>

</html>